html {
	height: 100%;
}   
body{	 
	height: auto !important;  
	height: 100%;  
	min-height: 100%;  
	position: relative; 

	margin:0;
	font: 12px Arial, sans-serif;
}

.body-wrapper{
	z-index:100;

	height: auto !important;  
	height: 100%;  
	min-height: 1620px;  
	position: relative; 
	
	margin: 0 auto;
	padding-bottom:70px;
	width:1000px;
	
}
.header-sky{

	margin: 0 auto;
	
	margin-bottom:-410px;
	width: 1000px;
	height: 410px;
	
	background: url(../img/bodybg.png) no-repeat;
}
header{

	padding:0 50px;
	height:140px;
}
article{

	display:block;
	width: 625px;
	padding: 35px 0 0 50px;
}
section{
	
	display:block;
	padding: 35px 0 0 50px;
}
footer{

	display:block;
	padding: 35px 0 0 50px;
	height: 20px;
}
h2{
	margin:0;
	font-size:24px;
	font-weight:normal;
}
h3{
	margin:0;
	font-size:14px;
	font-weight:normal;
}
p{
	margin-bottom:0;
}
a{
	color: #0072bc;
}
label{
	display:block;
}
.blue-text{
		color: #0072bc;
}
.clear{
	clear:both;
}		

.head-logo{
	float:left;
	
	width:340px;
	height: 140px;
	
	background: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
}
div.head-logo>img{
	position:relative;
	top:25%;
	
	display:block;
	margin: 0 auto;
}
.head-slogan{
	display:block;
	float:left;
	
	margin:0 0 0 25px;
	padding:40px 0 0 0;
	
	width: 355px;
	
	font: italic normal bold 30px/29px "Trebuchet MS", Arial, sans-serif;
}
.head-slogan .slogan-line{
	display: block;
	float:left;
	
	margin-bottom:5px;
	padding: 0 5px;
	
	background:#005b7f;
	color: #fff;
}
.head-slogan .slogan-year{
	position:relative;
	top: 10px;
	
	color: #005b7f;
	font-size: 65px;
}
.head-nav{
	float:right;
	
	display:block;
	
	margin: 35px 45px 0 0;
	min-width:100px;
	max-width:155px;
	
	background: #005b7f;
	border-radius: 15px;
}
.head-nav ul{
	margin:5px;
	padding:0 5px;
	min-width:85px;
	
	list-style:none;
}
.head-nav li{
	display:block;
}
.head-nav a{
	display:block;
	
	padding:0 5px;
	min-width:80px;
	
	font: 14px/14px Arial;
	line-height:30px;
	
	color: white;
	background-color:white;
	border-radius:10px;
	background-color: #005b7f;
}
.head-nav a:hover{
	color: black;
	background-color: white;
}

.quiz-bg{
	min-height:560px;

	margin-top:-90px;
	padding-top: 90px;
	width: 760px;

	background: url(../img/gifts.png) no-repeat;
}
.quiz-block{	
	padding:0;
	width: 680px;
	border-bottom-right-radius:25px;
}
.quiz-title{
	display:table;
	
	margin-top: 130px;
	width: 680px;
	
	background: url(../img/quiz-green_bg.png) repeat-y;
	border-top-right-radius:25px;
}
.quiz-title h2{
	display: table-cell;
	width:157px;
	padding: 25px 20px 15px 50px;
	color: #fff;
}
.quiz-title p{
	display: table-cell;
	padding: 25px 45px 15px 25px;
	width: 405px;
	
	font-size:14px;
	color: #fff;
	text-align:left;
	vertical-align:bottom;
}
.quiz-title p span{
	display:block;
}
.quiz-body{
	min-height: 200px;
	background:
		url(../img/quiz-yellow_bg-end.png) 0 102% no-repeat,
		linear-gradient(to top, #d6e6e9, #fbf2c6);
	border-bottom-right-radius:25px;	
}
.quiz-body-shadow{
	background: url(../img/quiz-shadow.png) 12.5% 0 repeat-y;
}
.quiz-gift{
	float:left;
	width:160px;
	margin: 15px 13px 0 50px;
	
}
.gift-caroucel-items{
	width:150px ;
	margin: 15px 0 0 0;
}
.gift-carousel-items{
	width:150px;
}
.gift-caroucel-items p{
	margin-bottom:10px;
}
.gift-carousel {
  position: relative;
  width: 129px;
  padding: 0 30px 0 12px;
  margin-left:-10px;
  margin-bottom:10px;
}
.gift-carousel img {
  width: 123px;
  height: 108px;
  display: block;
}
.gift-carousel .arrow {
  position: absolute;
  top: 35px;
  text-decoration: none;
}
.gift-carousel .arrow:hover {
	opacity:0.8;
}
.gift-carousel .left-arrow {
  left: 2px;
}
.gift-carousel .right-arrow {
  right: 0px;
}
.gift-gallery {
  width: 150px;
  overflow: hidden;
}
.gift-gallery ul {
  height: 108px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gift-gallery ul li {
	float: left;
}
.gift-gallery ul li img{
	margin-left:21px;
	width:108px;
}
.gift-button{
	width:28px;
	height: 43px;
}
.gift-button-left{
	background: url(../img/prevbutton.png);
}
.gift-button-left:hover{
	background: url(../img/prevbuttonpress.png);
}
.gift-button-right{
	background: url(../img/nextbutton.png);
}
.gift-button-right:hover{
	background: url(../img/nextbuttonpress.png);
}
.quiz-form{
	float: left;
	width: 411px;
	margin: 15px 0 0 26px;
}
.quiz-form>p{
	line-height: 14px;
	margin:0;
}
.quiz-form-email{
	margin-top: 25px;
	font-size:14px;
}
.quiz-form input[type="email"]{
	margin: 0 0 0 10px;
	padding: 0 10px;
	width:200px;
}
.quiz-form h2{
	margin: 25px 0 0 0;
}
.quiz-form h2 span{
	color: #ee1c24;
}
.quiz-form form p{
	margin-top: 10px;
}
.quiz-form form label{
	margin-top: 10px;
}
.quiz-form form input[type="image"]{
	display:inline-block;
	
	margin:15px 0 80px 0;
	width:207px;
	height:39px;
}
.quiz-form form input[type="image"]:hover{
	opacity:0.8;
}
.quiz-form form input[type="radio"]{
	margin:0 5px 0 0;
}
.idea-block{
	width: 625px;
	margin: 35px 0 0 50px;
	padding:0;
}
.idea-block>p{
	font-size:14px;
}
.idea-block h2{
	padding:0;
	margin:0;
	text-align:left;
}
.idea-block ul{
	margin:0;
	padding:0;
	list-style:none;
}
.idea-block>a{
	display:block;
	font-size:14px;
}
.item{
	float:left;
	margin:20px 65px 0 0;
	width: 280px;
}
.item:nth-child(even){
	margin-right:0;
}
.item img{
	float:left;
}
.item a{
	text-decoration:underline;
}
.partnership-carousel{
  z-index: 101 !important;


  position: relative;
  left: -20px;
  width: 881px;
  margin: 15px 0 15px 0;
  padding: 0 28px;
  border: 2px solid #36a01d;
  border-radius: 23px;
}
.partnership-carousel img {
  width: 160px;
  height: 60px;
	margin-top:15px;
  display: block;
}
.partnership-carousel .arrow {
  position: absolute;
  top: -3px;
  padding: 0;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.partnership-carousel .left-arrow {
  left:-2px;
}
.partnership-carousel .right-arrow {
  right:-5px;
}
.partnership-carousel .imgarrow{
	width:32px;
	height:86px;
	margin:0;
}
.partnership-carousel .imgarrow:hover{
	opacity:0.8;
}
.partnership-carousel .gallery2 {
  width: 885px;
  height: 83px;
  overflow: hidden;
  background-color: #fff;
}
.partnership-carousel .gallery2 ul {
  height: 60px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.partnership-carousel .gallery2 ul li {
	float: left;
}
.partnership-button{
	margin:0;
	padding:0;
	width: 29px;
	height:87px;
	border:0;
}
.partnership-button-left{
	background: url(../img/prevbutton2.png);
}
.partnership-button-left:hover{
	background: url(../img/prevbutton2pass.png);
}
.partnership-button-right{
	background: url(../img/nextbutton2.png);
}
.partnership-button-right:hover{
	background: url(../img/nextbutton2pass.png);
}
.footer-wrapper{
	position:absolute;
	bottom:0;
	width:100%;
}
.footer-wrapper>div{
	position:relative;
	
	margin: 0 auto;
	width:1000px;
	height:1700px;
	
	background: url(../img/elka.png) no-repeat;
}
footer{
	position:absolute;
	bottom:205px;
	
	padding-top:0;
}
footer section{
	z-index: 101 !important;
	
	padding:0;
}
footer *{
	float:left;
}
footer .img-allsoft{
	margin: 0 25px 0 19px;
}
footer p{
	width: 380px;
	margin:10px 65px 0 0;
}
footer p+img, footer p+img+img{
	margin:20px 10px 0 0;
}
footer .img-softline{
	margin: 20px 0 0 20px;*/
}
.present-abby{
	z-index: 101 !important;
	
	position: absolute;
	bottom:1380px;
	right:-20px;
}
.present-navitel{
	z-index: 101 !important;

	position: absolute;
	bottom:1279px;
	right:65px;
}
.present-microsoft{
	z-index: 101 !important;
	
	position: absolute;
	bottom:1170px;
	right:-20px;
}
.present-movavi{
	z-index: 101 !important;
	
	position: absolute;
	bottom:1030px;
	right:5px;
}
.present-panda{
	z-index: 101 !important;
	
	position: absolute;
	bottom:915px;
	right:10px;
}