html{
	height: 100%;
}
body{
	height: auto !important;  
	height: 100%;  
	min-height: 100%;  
	position: relative; 

	margin:0;
	font: 12px Arial, sans-serif;
}
header{

	padding:0 50px;
	height:140px;
}
footer{
	height: 20px;

}
h1{
	margin:0;
	font-size:24px;
	font-weight:normal;
}
h2{
	margin:0 0 12px;
	font-size:24px;
	font-weight:normal;
}
h3{
	margin:0;
	font-size:14px;
	font-weight:normal;
}
p{
	margin: 12px 0;
	font-size:12px;
}
a{
	color: #0072bc;
}
label{
	display:block;
}